@model Product

@{
    ViewBag.Title = "Save";
}

<h2>Save Product</h2>

<div class="row">
    @using (Html.BeginForm("Save", "AddProduct", FormMethod.Post, new { @enctype = "multipart/form-data", id = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            <div class="row form-group">
                <strong>@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })</strong>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "The Name field is required.")
                </div>
            </div>

            @Html.Action("LoadCategories", "AddProduct")
            @Html.Action("LoadManufacturers", "AddProduct")

            <div class="form-group">
                <strong>@Html.Label("Image:", new { @class = "control-label col-md-2" })</strong>
                <div class="col-md-10">
                    <div id="errorMessage"></div>
                    <input style="cursor:pointer" type="file" name="postedFile" class="form-control" id="postedFile" data-val="true" data-val-required="File is required" /><br />
                </div>
            </div>

            @*<div class="jumbotron">
                    <form action="~/AddProduct/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="width: 50px; background: none; border: none;">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                            <input type="submit" value="Upload" />
                        </div>
                    </form>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.ProductYear, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    <div class="form-group input-group-sm">
                        @Html.TextBoxFor(model => model.ProductYear, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
                        @Html.ValidationMessageFor(model => model.ProductYear)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success" type="submit" id="upload">Save</button>
                        @Html.ActionLink("Cancel", "ProductList", "Admin", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            $(".datepicker").datepicker();
        });
    </script>
}
