@model UserViewModels
@{
    ViewBag.Title = "Customer Delete";
}

<h2>Remove Customer</h2>

<h3>Are you sure you want to remove this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "Admin", new { id = Model.Id }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" value="Delete" class="btn btn-success" /> &nbsp;
                @Html.ActionLink("Back to List", "Users", null, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div><br />