@model CategoryListViewModel

@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<div class="row col-md-offset-2">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div><br />

<table class="table table-striped table-hover">
    <thead>
        <tr class="info lead">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row col-md-offset-5">
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= @Model.Count; i++)
            {
                if (@Model.Page == i)
                {
                    <li class="active"><a href="@Url.Action("Index", new { page = i })">@i</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Index", new { page = i })">@i</a></li>
                }
            }
        </ul>
    </nav>
</div>
